<div class="my-3 px-4 py-2 border rounded">
    <h3 class="text-center text-primary my-3">Sign Up!</h3>
    {{#if error}}
        <div class="alert alert-danger text-center">
            {{message}}
        </div>
    {{/if}}
    <form action="/signup" method="post">
        <div class="row">
            <div class="col-sm form-group">
                <label for="firstname">Firstname : </label>
                <input type="text" name="firstname" {{#if data}}value="{{data.firstname}}"{{/if}} class="form-control {{#if ftname_error}}is-invalid{{/if}}" placeholder="Firstname">
            </div>
            <div class="col-sm form-group">
                <label for="lastname">Lastname : </label>
                <input type="text" name="lastname" {{#if data}}value="{{data.lastname}}"{{/if}} class="form-control {{#if ltname_error}}is-invalid{{/if}}" placeholder="Lastname">
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email : </label>
            <input type="email" name="email" {{#if data}}value="{{data.email}}"{{/if}} class="form-control {{#if email_error}}is-invalid{{/if}}" placeholder="Email">
        </div>
        <div class="row">
            <div class="col-sm form-group">
                <label for="password">Password : </label>
                <input type="password" name="password" class="form-control {{#if pwd_error}}is-invalid{{/if}}" placeholder="Password">
            </div>
            <div class="col-sm form-group">
                <label for="c_password">Confirm password : </label>
                <input type="password" name="c_password" class="form-control {{#if cpwd_error}}is-invalid{{/if}}" placeholder="Confirm password">
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-block btn-info">
                <i class="fas fa-user-plus"></i> Sign up
            </button>
        </div>
    </form>   
    <div class="m-auto text-center my-3">
        Already have an account? <a href="/signin" class="m-auto">Sign In</a>
    </div> 
</div>
