<nav class="top-navbar w-100 mb-1">
    <ul class="mx-auto">
        <li><a href="/dashboard"><i class="fas fa-tachometer-alt fa-fw"></i> Dashboard</a></li>
        <li><a href="/products"><i class="fas fa-boxes fa-fw"></i> Products</a></li>
        <li><a href="/categories"><i class="fas fa-project-diagram fa-fw"></i> Categories</a></li>
        <li><a href="/options"><i class="fas fa-cog fa-fw"></i> Options</a></li>
    </ul>
</nav>
